/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define COMBO_TIMEOUT 60

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define DANGER  3





&kscan0 {
	debounce-period = <20>;
	};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  &bt BT_CLR  | &bt BT_CLR  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | 
// |  &bt BT_CLR  |  &bt BT_CLR  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
// |  &bt BT_CLR  |  &bt BT_CLR  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | 
//             | GUI | LWR | ENT |   | SPC | RSE  | ALT |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P
   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K &kp L   &kp SQT
   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
        &kp LGUI &kp S &kp RET   &kp SPACE &kp A &kp X
                        >;
		label = "BASE";
                };
               
        };
};
