/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "split.dtsi"

&five_column_transform {
	col-offset = <5>;
};


&kscan0 {
	col-gpios
		= <&gpio1 4 GPIO_ACTIVE_HIGH>  //Col1
		, <&gpio1 3 GPIO_ACTIVE_HIGH>  //Col2
		, <&gpio1 2 GPIO_ACTIVE_HIGH>  //Col3
		, <&gpio1 1 GPIO_ACTIVE_HIGH>  //Col4
		, <&gpio0 0 GPIO_ACTIVE_HIGH>  //Col5
		;
};
